:root{
  --primary : #068932;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* landing page */

.nav-bar{
  font-weight: 700;
  height: 70px;
  padding: 0px 64px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cta-btns{
  display: flex;
  gap: 24px;
}
.main-btn{
  font-weight: inherit ;
  background-color: var(--primary);
  border: none;
  color: white;
  border-radius: 6px;
  padding: 8px 24px;
}
.secondary-btn{
  font-weight: inherit ;
  background-color: white;
  border: 2px solid black;
  color: black;
  border-radius: 6px;
  padding: 8px 24px;
}
.main-section{
  background-image: url(https://img.freepik.com/premium-vector/dots-line-vector-black-white-abstract-background_551880-552.jpg);
  background-size: cover;
  min-height: calc(100vh - 70px);
  /* padding: 0px 64px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: unsafe center;
}
.scroll{
  position: absolute;
  bottom: 10px;
}
.scroll-text{
  margin: 0px 5px 0px 25px;
}
.down-arrow {
  color: var(--primary);
  position: absolute;
  animation: jumpInfinite 2s infinite;
}
@keyframes jumpInfinite {
  0% {
    margin-top: 0;
  }
  50% {
    margin-top: 6px;
  }
  100% {
    margin-top: 0;
  }
}